.Div_ShowNames_CSS{
    width: 100%;
    border-radius: 8px;
    background-color: white;
    padding: 5px 0px 5px 0px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Div_Male_CSS{    
    width: 70px;
    height: 70px;
    background-color: #4328ff;
    border-radius: 3px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    transition: 200ms;
}
.Div_Male_CSS:hover{
    background-color: #705bff;
    cursor: pointer;    
}
.fa-male,
.fa-female{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 38px;
    margin: 0px;
    padding-top: 5px;
    font-size: 27px;
}
.Div_Female_CSS{
    width: 70px;
    height: 70px;
    background-color: #ff2ed7;
    border-radius: 3px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    transition: 200ms;
}
.Div_Female_CSS:hover{
    background-color: #ff61e0;
    cursor: pointer;
}
.P_Name_CSS{    
    width: 70px;
    height: 20px;
    font-size: 12px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

