.Div_ShowNames_CSS{
    width: 100%;
    border-radius: 8px;
    background-color: white;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Div_Male_CSS{    
    width: 70px;
    height: 70px;
    color: #0D47A1;
    background-color: #90CAF9;
    border-radius: 3px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    transition: 200ms;
}
.Div_Male_CSS:hover{
    background-color: #60b3f6;
    cursor: pointer;    
}
.fa-male,
.fa-female{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 35px;
    margin: 0px;
    padding-top: 5px;
    font-size: 27px;
}
.Div_Female_CSS{
    width: 70px;
    height: 70px;
    color: #C2185B;
    background-color: #F8BBD0;
    border-radius: 3px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    transition: 200ms;
}
.Div_Female_CSS:hover{
    background-color: #f27da6;
    cursor: pointer;
}
.P_Name_CSS{    
    width: 70px;
    height: 20px;
    font-size: 12px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

